*, 
html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: pink;
}

.container-navbar {
    background-color: blanchedalmond;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.li-navbar {
  list-style-type:none;
  padding: 20px;
  margin: 5px;
  color: palevioletred;
  font-size: 25px;
}

.li-navbar:hover {
    background-color: plum;
    transition:.5s ease-in-out;
    transition-delay: .2s;
    border-radius: 8px;
}

.a-navbar {
    color: palevioletred;
    text-decoration: none;
}

.container-content {
    background-color:pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: white;
    color: palevioletred;
    text-decoration:none;
    font-size: 20px;
    width: 450px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    -webkit-box-shadow: 8px 11px 24px 1px rgba(87, 66, 90, 1);
-moz-box-shadow: 8px 11px 24px 1px rgba(87, 66, 90, 1);
box-shadow: 8px 11px 24px 1px rgba(87, 66, 90, 1);
}

.img-content {
    width: 130px;
    height: auto;
}

.container-footer {
    height: 10vh;
background-color:blanchedalmond;
display: flex;
justify-content: center;
align-items: center;
}

.h1-footer {
 font-size: 20px;
 color: palevioletred;
}